<!DOCTYPE html><html lang="en"><head><meta name="viewport" content="width=device-width, initial-scale=1.0"><style>@media(max-width: 450px) {
    body {
        background-color: #303841;
    }
}

#navbar {
    text-align: right;
}

body {
    background-color: #303841;
}

</style></head><navbar id="navbar"><a href id="profile-link" target="_blank">About 1</a><a href id="profile-link" target="_blank">Work</a><a href id="profile-link" target="_blank">Contact</a><navbar><body><main><section id="welcome-section"><h1>Programmer</h1><a href id="profile-link">profile</a></section><section id="projects"><h1 class="project-tile"></h1><div class="project-tile"><a href="#">Project 1</a></div </section><main></body></html>